@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #191919;
  --gradient-yellow: linear-gradient(180deg, #FFDD03 0%, #FBC403 100%);
  --font-lexend: 'Lexend', sans-serif;      /* added Lexend */
  --font-geist-mono: 'Geist Mono', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --bg-gradient-yellow: var(--gradient-yellow);
  --font-sans: var(--font-lexend);        
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);            /* use Lexend */
}
